In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset_Facebook.csv')

In [42]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4.0,3,0.0,2752.0,5091.0,178.0,109.0,159.0,3078.0,1640.0,119.0,4.0,79.0,17.0,100
1,139441,Status,2,12,3.0,10,0.0,10460.0,19057.0,1457.0,1361.0,1674.0,11710.0,6112.0,1108.0,5.0,130.0,29.0,164
2,139441,Photo,3,12,3.0,3,0.0,2413.0,4373.0,177.0,113.0,154.0,2812.0,1503.0,132.0,0.0,66.0,14.0,80
3,139441,Photo,2,12,2.0,10,1.0,50128.0,87991.0,2211.0,790.0,1119.0,61027.0,32048.0,1386.0,58.0,1572.0,147.0,1777
4,139441,Photo,2,12,2.0,3,0.0,7244.0,13594.0,671.0,410.0,580.0,6228.0,3200.0,396.0,19.0,325.0,49.0,393

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     500 non-null    int64
 1   Type                                                                 496 non-null    object
 2   Category                                                             500 non-null    int64
 3   Post Month                                                           500 non-null    int64
 4   Post Weekday                                                         496 non-null    float64
 5   Post Hour                                                            500 non-null    int64
 6   Paid                                                                 497 non-null    float64
 7   Lifetime Post Total Reach                                            496 non-null    float64
 8   Lifetime Post Total Impressions                                      499 non-null    float64
 9   Lifetime Engaged Users                                               496 non-null    float64
 10  Lifetime Post Consumers                                              484 non-null    float64
 11  Lifetime Post Consumptions                                           497 non-null    float64
 12  Lifetime Post Impressions by people who have liked your Page         498 non-null    float64
 13  Lifetime Post reach by people who like your Page                     498 non-null    float64
 14  Lifetime People who have liked your Page and engaged with your post  488 non-null    float64
 15  comment                                                              497 non-null    float64
 16  like                                                                 499 non-null    float64
 17  share                                                                486 non-null    float64
 18  Total Interactions                                                   500 non-null    int64
dtypes: float64(13), int64(5), object(1)
memory usage: 74.3+ KB

In [44]:
df = df.drop(['Type'], axis=1)

In [45]:
df = df[~df['Post Weekday'].isnull()]

In [46]:
df = df[~df['Paid'].isnull()]

In [47]:
df = df[~df['Lifetime Post Total Reach'].isnull()]

In [48]:
df = df[~df['Lifetime Post Total Impressions'].isnull()]
df = df[~df['Lifetime Engaged Users'].isnull()]
df = df[~df['Lifetime Post Consumers'].isnull()]
df = df[~df['Lifetime Post Consumptions'].isnull()]
df = df[~df['Lifetime Post Impressions by people who have liked your Page'].isnull()]
df = df[~df['Lifetime Post reach by people who like your Page'].isnull()]
df = df[~df['Lifetime People who have liked your Page and engaged with your post'].isnull()]
df = df[~df['comment'].isnull()]
df = df[~df['like'].isnull()]
df = df[~df['share'].isnull()]

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 0 to 498
Data columns (total 18 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     442 non-null    int64
 1   Category                                                             442 non-null    int64
 2   Post Month                                                           442 non-null    int64
 3   Post Weekday                                                         442 non-null    float64
 4   Post Hour                                                            442 non-null    int64
 5   Paid                                                                 442 non-null    float64
 6   Lifetime Post Total Reach                                            442 non-null    float64
 7   Lifetime Post Total Impressions                                      442 non-null    float64
 8   Lifetime Engaged Users                                               442 non-null    float64
 9   Lifetime Post Consumers                                              442 non-null    float64
 10  Lifetime Post Consumptions                                           442 non-null    float64
 11  Lifetime Post Impressions by people who have liked your Page         442 non-null    float64
 12  Lifetime Post reach by people who like your Page                     442 non-null    float64
 13  Lifetime People who have liked your Page and engaged with your post  442 non-null    float64
 14  comment                                                              442 non-null    float64
 15  like                                                                 442 non-null    float64
 16  share                                                                442 non-null    float64
 17  Total Interactions                                                   442 non-null    int64
dtypes: float64(13), int64(5)
memory usage: 65.6 KB

In [50]:
y = df['Paid']

In [51]:
df = df.drop('Paid', axis=1)

In [52]:
from sklearn.linear_model import LogisticRegression  # импортируем модель машинного обучения
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.33, random_state=42)

In [53]:
X_train.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
288,126141,1,6,4.0,12,20896.0,29062.0,1418.0,1038.0,2048.0,19738.0,13656.0,998.0,103.0,469.0,33.0,605
382,109670,1,4,6.0,13,6172.0,10417.0,718.0,684.0,906.0,7692.0,4234.0,508.0,1.0,64.0,22.0,87
244,130791,2,7,3.0,5,180480.0,319133.0,8072.0,4010.0,6242.0,108752.0,51456.0,3316.0,372.0,5172.0,790.0,6334
151,135713,2,10,5.0,11,4010.0,7444.0,477.0,370.0,534.0,4406.0,2362.0,354.0,2.0,166.0,32.0,200
250,129600,1,7,7.0,6,5848.0,9068.0,622.0,570.0,795.0,6651.0,4212.0,383.0,4.0,71.0,10.0,85

In [54]:
model = LogisticRegression(max_iter=10000)       # инициализируем модель
model.fit(X_train, y_train)                      # обучаем модель
predict = model.predict(X_test)

In [55]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report, f1_score

print('precision', precision_score(y_test, predict))
print('recall', recall_score(y_test, predict))
print('accuracy', accuracy_score(y_test, predict))
print('f1', f1_score(y_test, predict))

precision 0.3
recall 0.08108108108108109
accuracy 0.7191780821917808
f1 0.12765957446808512

In [61]:
X_test.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
344,117764,1,5,1.0,2,12540.0,19301.0,344.0,322.0,396.0,16914.0,11008.0,289.0,3.0,46.0,14.0,63
266,128032,1,7,6.0,3,7232.0,12735.0,758.0,700.0,1236.0,8855.0,4712.0,471.0,2.0,75.0,24.0,101
112,136736,2,10,6.0,4,2428.0,4510.0,311.0,238.0,323.0,2888.0,1560.0,236.0,4.0,117.0,18.0,139
378,111620,1,4,2.0,6,44288.0,60918.0,1215.0,1105.0,1746.0,22130.0,14224.0,814.0,2.0,152.0,11.0,165
113,136642,2,10,1.0,3,2227.0,4070.0,369.0,314.0,430.0,3227.0,1702.0,306.0,2.0,79.0,16.0,97

In [62]:
X_train.head()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
288,126141,1,6,4.0,12,20896.0,29062.0,1418.0,1038.0,2048.0,19738.0,13656.0,998.0,103.0,469.0,33.0,605
382,109670,1,4,6.0,13,6172.0,10417.0,718.0,684.0,906.0,7692.0,4234.0,508.0,1.0,64.0,22.0,87
244,130791,2,7,3.0,5,180480.0,319133.0,8072.0,4010.0,6242.0,108752.0,51456.0,3316.0,372.0,5172.0,790.0,6334
151,135713,2,10,5.0,11,4010.0,7444.0,477.0,370.0,534.0,4406.0,2362.0,354.0,2.0,166.0,32.0,200
250,129600,1,7,7.0,6,5848.0,9068.0,622.0,570.0,795.0,6651.0,4212.0,383.0,4.0,71.0,10.0,85

In [63]:
y_train.head()

288    0.0
382    0.0
244    1.0
151    0.0
250    1.0
Name: Paid, dtype: float64

In [64]:
y_test.head()

344    0.0
266    0.0
112    0.0
378    1.0
113    1.0
Name: Paid, dtype: float64

In [66]:
print(predict)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1.
 0. 0.]